stages:
  - build
  - release

variables:
  BUILD_NAME: "portfolio-rust"

# Build the portfolio application
rust_build:
  stage: build
  image: tonguechaude/portfolio
  script:
    - trunk build --release
    - cd dist/
    - tar czf ../portfolio-rust.tar.gz .
  artifacts:
    paths:
      - portfolio-rust.tar.gz
      - dist/
    expire_in: '3 months'
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"

# Publish tagged releases
release-publish-tag:
  stage: release
  image: curlimages/curl:latest
  needs: ['rust_build']
  script:
    - 'curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file portfolio-rust.tar.gz "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/${BUILD_NAME}/${CI_COMMIT_TAG}/portfolio-rust-${CI_COMMIT_TAG}.tar.gz"'
  only:
    - tags
